.production_status_none {
background-color: #eee;;
}

.production_status_sent {
background-color: #fcffc5;;
}

.production_status_seen {
background-color: #98fb98;
}
.production_status_make {
background-color: #5545ff;;
}
.production_status_ready {
background-color: #e30073;;
}
.kds-item {
cursor:pointer;
font-size: 20px;
font-weight: bold;
}

.message_status_ready {
background-color: green;
}
.message_status_warning {
background-color: orange;
}
.message_status_issue {
background-color: red;
}
