html,
body {
  height: 100%;
  margin: 0px;
  min-height: 260px;
  overflow: hidden;
  background-color: #058789;
}

#root {
  height: 100%;
}

#Holding {
  height: 100%;
  width: 100%;
  background-color: #058789;
}
